node_modules
.next/app-build-manifest.json
.next/build-manifest.json
.next/react-loadable-manifest.json
.next/trace
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/3.pack.gz
.next/cache/webpack/client-development/4.pack.gz
.next/cache/webpack/client-development/6.pack.gz
.next/cache/webpack/client-development/7.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/server-development/3.pack.gz
.next/cache/webpack/server-development/4.pack.gz
.next/cache/webpack/server-development/5.pack.gz
.next/cache/webpack/server-development/6.pack.gz
.next/cache/webpack/server-development/7.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/server/app-paths-manifest.json
.next/server/middleware-build-manifest.js
.next/server/middleware-manifest.json
.next/server/server-reference-manifest.json
.next/server/webpack-runtime.js
.next/server/app/page.js
.next/server/app/api/download/route_client-reference-manifest.js
.next/server/app/api/download/route.js
.next/server/app/favicon.ico/route.js
.next/server/vendor-chunks/@distube.js
.next/server/vendor-chunks/@fastify.js
.next/server/vendor-chunks/@swc.js
.next/server/vendor-chunks/agent-base.js
.next/server/vendor-chunks/debug.js
.next/server/vendor-chunks/has-flag.js
.next/server/vendor-chunks/http-cookie-agent.js
.next/server/vendor-chunks/https-proxy-agent.js
.next/server/vendor-chunks/m3u8stream.js
.next/server/vendor-chunks/miniget.js
.next/server/vendor-chunks/ms.js
.next/server/vendor-chunks/next.js
.next/server/vendor-chunks/psl.js
.next/server/vendor-chunks/punycode.js
.next/server/vendor-chunks/querystringify.js
.next/server/vendor-chunks/requires-port.js
.next/server/vendor-chunks/sax.js
.next/server/vendor-chunks/supports-color.js
.next/server/vendor-chunks/tough-cookie.js
.next/server/vendor-chunks/undici.js
.next/server/vendor-chunks/universalify.js
.next/server/vendor-chunks/url-parse.js
.next/static/chunks/_app-pages-browser_node_modules_next_dist_client_dev_noop-turbopack-hmr_js.js
.next/static/chunks/app-pages-internals.js
.next/static/chunks/main-app.js
.next/static/chunks/polyfills.js
.next/static/chunks/webpack.js
.next/static/chunks/app/layout.js
.next/static/chunks/app/page.js
.next/static/chunks/app/api/download/route.js
.next/static/css/app/layout.css
.next/static/css/app/page.css
.next/static/webpack/16e66e98406c7880.webpack.hot-update.json
.next/static/webpack/64c896708b1f40b6.webpack.hot-update.json
.next/static/webpack/a626f15b26044e39.webpack.hot-update.json
.next/static/webpack/webpack.16e66e98406c7880.hot-update.js
.next/static/webpack/webpack.64c896708b1f40b6.hot-update.js
.next/static/webpack/webpack.a626f15b26044e39.hot-update.js
.next/static/webpack/app/layout.64c896708b1f40b6.hot-update.js
.next/static/webpack/app/layout.a626f15b26044e39.hot-update.js
.next/static/webpack/app/page.64c896708b1f40b6.hot-update.js
.next/static/webpack/app/page.a626f15b26044e39.hot-update.js
.next/types/cache-life.d.ts
.next/types/app/layout.ts
.next/types/app/page.ts
.next/types/app/api/download/route.ts
.next/app-build-manifest.json
.next/build-manifest.json
.next/react-loadable-manifest.json
.next/trace
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/3.pack.gz
.next/cache/webpack/client-development/4.pack.gz
.next/cache/webpack/client-development/6.pack.gz
.next/cache/webpack/client-development/7.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/server-development/3.pack.gz
.next/cache/webpack/server-development/4.pack.gz
.next/cache/webpack/server-development/5.pack.gz
.next/cache/webpack/server-development/6.pack.gz
.next/cache/webpack/server-development/7.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/server/app-paths-manifest.json
.next/server/middleware-build-manifest.js
.next/server/middleware-manifest.json
.next/server/server-reference-manifest.json
.next/server/webpack-runtime.js
.next/server/app/page.js
.next/server/app/api/download/route_client-reference-manifest.js
.next/server/app/api/download/route.js
.next/server/app/favicon.ico/route.js
.next/server/vendor-chunks/@distube.js
.next/server/vendor-chunks/@fastify.js
.next/server/vendor-chunks/@swc.js
.next/server/vendor-chunks/agent-base.js
.next/server/vendor-chunks/debug.js
.next/server/vendor-chunks/has-flag.js
.next/server/vendor-chunks/http-cookie-agent.js
.next/server/vendor-chunks/https-proxy-agent.js
.next/server/vendor-chunks/m3u8stream.js
.next/server/vendor-chunks/miniget.js
.next/server/vendor-chunks/ms.js
.next/server/vendor-chunks/next.js
.next/server/vendor-chunks/psl.js
.next/server/vendor-chunks/punycode.js
.next/server/vendor-chunks/querystringify.js
.next/server/vendor-chunks/requires-port.js
.next/server/vendor-chunks/sax.js
.next/server/vendor-chunks/supports-color.js
.next/server/vendor-chunks/tough-cookie.js
.next/server/vendor-chunks/undici.js
.next/server/vendor-chunks/universalify.js
.next/server/vendor-chunks/url-parse.js
.next/static/chunks/_app-pages-browser_node_modules_next_dist_client_dev_noop-turbopack-hmr_js.js
.next/static/chunks/app-pages-internals.js
.next/static/chunks/main-app.js
.next/static/chunks/polyfills.js
.next/static/chunks/webpack.js
.next/static/chunks/app/layout.js
.next/static/chunks/app/page.js
.next/static/chunks/app/api/download/route.js
.next/static/css/app/layout.css
.next/static/css/app/page.css
.next/static/webpack/16e66e98406c7880.webpack.hot-update.json
.next/static/webpack/64c896708b1f40b6.webpack.hot-update.json
.next/static/webpack/webpack.16e66e98406c7880.hot-update.js
.next/static/webpack/webpack.64c896708b1f40b6.hot-update.js
.next/static/webpack/app/layout.64c896708b1f40b6.hot-update.js
.next/static/webpack/app/page.64c896708b1f40b6.hot-update.js
.next/types/cache-life.d.ts
.next/types/app/layout.ts
.next/types/app/page.ts
.next/types/app/api/download/route.ts
